<template name="contract">
  <h1 class="text-center">Agreement</h1>
  <p> 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec purus eu dui fringilla facilisis. Mauris orci est, finibus auctor dignissim at, fringilla ac nisl. Aliquam ornare at libero ac convallis. Nam fermentum placerat nisi in congue. Ut venenatis accumsan risus, quis varius dolor vestibulum eu. Cras vestibulum libero sit amet lacus dapibus volutpat. Sed nec diam non elit pharetra ornare at ac nisl. Nullam ac leo sed tortor laoreet feugiat. Pellentesque id velit lacus. Proin eget pharetra enim. Mauris fermentum bibendum mauris, non fermentum tellus sollicitudin sed.
  </p>
</template>